In [2]:
import pandas as pd
data_dict1={'customerID':[1,2,3,4,5,6,7,8,9,10],
            'Gender':['male','female','female','male','male','female','male','male','female','male'],
           'Age':[20,21,19,18,25,26,32,41,20,19],
           'Annual_Income':[10,20,30,10,25,60,70,15,21,22],
           'spending score':[30,50,58,84,90,65,32,46,12,56]}
data1=pd.DataFrame(data_dict1)
data1.to_csv("customers1.csv")
print(data1)

   customerID  Gender  Age  Annual_Income  spending score
0           1    male   20             10              30
1           2  female   21             20              50
2           3  female   19             30              58
3           4    male   18             10              84
4           5    male   25             25              90
5           6  female   26             60              65
6           7    male   32             70              32
7           8    male   41             15              46
8           9  female   20             21              12
9          10    male   19             22              56

In [3]:
import pandas as pd
data_dict2={'customerID':[11,12,13,14,15,16,17,18,19,20],
            'Gender':['male','female','female','male','male','female','male','male','female','male'],
           'Age':[23,33,19,18,25,26,32,41,20,19],
           'Annual_Income':[10,20,30,10,25,60,70,15,21,22],
           'spending score':[38,59,48,99,94,66,44,51,12,56]}
data2=pd.DataFrame(data_dict2)
data2.to_csv("customers2.csv")
print(data2)

   customerID  Gender  Age  Annual_Income  spending score
0          11    male   23             10              38
1          12  female   33             20              59
2          13  female   19             30              48
3          14    male   18             10              99
4          15    male   25             25              94
5          16  female   26             60              66
6          17    male   32             70              44
7          18    male   41             15              51
8          19  female   20             21              12
9          20    male   19             22              56

In [5]:
df=pd.concat(map(pd.read_csv,['customers1.csv','customers2.csv']),ignore_index=True)
df.to_csv("mergedfiles.csv")
print("Merged file is:")
print(df)

Merged file is:
    Unnamed: 0  customerID  Gender  Age  Annual_Income  spending score
0            0           1    male   20             10              30
1            1           2  female   21             20              50
2            2           3  female   19             30              58
3            3           4    male   18             10              84
4            4           5    male   25             25              90
5            5           6  female   26             60              65
6            6           7    male   32             70              32
7            7           8    male   41             15              46
8            8           9  female   20             21              12
9            9          10    male   19             22              56
10           0          11    male   23             10              38
11           1          12  female   33             20              59
12           2          13  female   19             30              48
13           3          14    male   18             10              99
14           4          15    male   25             25              94
15           5          16  female   26             60              66
16           6          17    male   32             70              44
17           7          18    male   41             15              51
18           8          19  female   20             21              12
19           9          20    male   19             22              56